body {
    font-family: Arial, sans-serif; /*font chữ */
    background: linear-gradient(to right, #dbe6f6, #c5796d); /*màu nền */
    display: flex; /* căn giữa */
    justify-content: center;  
    margin-top: 50px;  /*khoảng cách từ trên xuống */
}

.container {
    background-color: #e9eef2;
    padding: 20px; /*khoảng cách bên trong */
    width: 350px; /* độ rộng của container */
    border-radius: 10px; /* bo tròn góc */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);  /* hiệu ứng bóng */
    text-align: center; 
}

h1 {
    color: #333;
    
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;  /*khoảng cách dưới input */
}

button {
    padding: 10px 15px; 
     background-color: #7b8fa1;
    color: white;
    border: none;     /* loại bỏ viền */
    cursor: pointer;  /* con trỏ khi hover */
    border-radius: 5px;  
}

button:hover {
    background-color: #5c6b77;
}

ul {
    list-style: none; /* loại bỏ dấu chấm đầu dòng */
    padding: 0;
}

li {
    background-color: #f4f4f4;
    margin-top: 10px;  /*khoảng cách giữa các công việc */
    padding: 10px;  
    border-radius: 5px;
    display: flex;  /*căn chỉnh nội dung trong li*/
    justify-content: space-between; /*căn giữa theo chiều ngang */
    align-items: center;  /*căn giữa theo chiều dọc */
}

.deletebtn {
    background-color: #e44741;
    padding: 5px 10px;  
}

.deletebtn:hover {
    background-color: #c22722;
}